@charset "UTF-8";
.wrap {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  padding-left: 150px;
  padding-right: 150px;
}

a:link {
  text-decoration: none;
}

.hide-me, .hide-me-2, .hide-me-3, .hide-me-1s, .hide-me-2s, .hide-me-end, .hide-me-txt, .hide-me-contact, .text-hover {
  opacity: 0;
}

h2 {
  transform: translateX(-700px);
  opacity: 0;
  transition-duration: 0.5s;
}

header {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../images/background.png");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
}

header > div:first-of-type {
  margin-left: 30%;
  padding-top: 25vh;
  text-align: center;
}

h1 {
  font-family: "ZCOOL XiaoWei", serif;
  color: #FFFFFF;
  font-size: 140px;
  text-shadow: 10px 0px 50px #0067CA99;
  margin-bottom: 40px;
}

header p {
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-size: 60px;
  color: #FFFFFF;
  text-shadow: 10px 0px 50px #FFFFFFA1;
}

#logo {
  float: right;
  width: 54px;
  height: 43px;
  padding-top: 105px;
}

#d-arrow, #d-arrow-o {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 8%;
  transition-duration: 0.4s;
}

#d-arrow-o {
  opacity: 0;
}

@media all and (max-width: 1400px) {
  header > div:first-of-type {
    padding-top: 33vh;
  }
}
@media all and (max-width: 1170px) {
  header {
    max-height: 700px;
  }

  header > div:first-of-type {
    padding-top: 25vh;
  }

  .wrap {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    padding-left: 90px;
    padding-right: 90px;
  }

  h2 {
    font-size: 50px !important;
  }

  h1 {
    font-size: 125px;
  }

  header p {
    font-size: 55px;
  }
}
@media all and (max-width: 980px) {
  header p {
    font-size: 45px;
  }

  h1 {
    font-size: 100px;
  }

  header > div:first-of-type {
    padding-top: 35vh;
    text-align: center;
    margin-left: 43%;
  }

  #d-arrow, #d-arrow-o {
    width: 40px;
  }

  #logo {
    padding-top: 40px;
  }
}
@media all and (max-width: 768px) {
  header {
    background-image: none;
    background: -webkit-linear-gradient(329deg, #002447 0%, #0c1224 40%, black 100%);
    background: -o-linear-gradient(329deg, #002447 0%, #0c1224 40%, black 100%);
    background: linear-gradient(59deg, #002447 0%, #0c1224 40%, black 100%);
    max-height: 100vh;
  }

  .wrap {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    padding-left: 60px;
    padding-right: 60px;
  }

  header > div:first-of-type {
    margin-left: auto;
    margin-right: auto;
  }

  h2 {
    font-size: 40px !important;
  }
}
@media all and (max-width: 480px) {
  .wrap {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    padding-left: 20px;
    padding-right: 20px;
  }

  h1 {
    font-size: 90px;
  }

  header p {
    font-size: 35px;
  }

  h2 {
    font-size: 33px !important;
    padding-bottom: 70px;
  }

  header > div:first-of-type {
    margin-left: auto;
    margin-right: auto;
  }

  #logo {
    padding-top: 80px;
    margin-right: 10px;
  }
}
@media all and (max-width: 320px) {
  .wrap {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    padding-left: 20px;
    padding-right: 20px;
  }

  h1 {
    font-size: 75px;
  }

  header p {
    font-size: 30px;
  }

  #logo {
    width: 32px;
    height: 26px;
  }
}
#navigation {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 50px;
  width: 32px;
  z-index: 100;
}
#navigation a {
  align-items: center;
}
#navigation div {
  display: flex;
  align-items: center;
  width: 280px;
}
#navigation p {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 400;
  color: #0E0B53;
  margin: 10px 0 20px 0;
}
#navigation .active {
  color: #FF8800;
  font-weight: 700;
}
#navigation span {
  height: 40px;
  border: 1px solid #0E0B53;
  margin-left: 16px;
  padding-top: 10px;
}

p#nav-p1, p#nav-p2, p#nav-p3, p#nav-p4, p#nav-p5 {
  margin-left: 20px;
  font-weight: 600;
  color: #FF8800;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  opacity: 1;
  width: 180px;
  cursor: default;
}

@media all and (max-width: 1170px) {
  #navigation {
    left: 40px;
  }
}
@media all and (max-width: 768px) {
  #navigation {
    display: none;
  }
}
#my-work div#work-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 27px;
}
#my-work div#work-container div.work {
  position: relative;
  box-shadow: 2px 5px 20px rgba(14, 11, 83, 0.15);
  transition: transform 0.5s ease-in-out;
  border-radius: 8px;
}
#my-work div#work-container div.work a {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
#my-work div#work-container div.work .text-hover {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
#my-work div#work-container div.work .text-hover .name {
  font-weight: 500;
  position: absolute;
  left: 0;
  right: 0;
  top: 5%;
  color: #0E0B53;
  margin: auto;
  font-size: 25px;
  font-weight: 500;
}
#my-work div#work-container div.work .text-hover .description {
  font-weight: 700;
  position: absolute;
  left: 0;
  right: 0;
  top: 22%;
  color: #0E0B53;
  margin: auto;
}
#my-work div#work-container div.work .text-hover .description2 {
  font-weight: 500;
  position: absolute;
  left: 0;
  right: 0;
  top: 40%;
  color: #0E0B53;
  margin: auto;
  font-size: 20px;
  width: 94%;
}
#my-work div#work-container .work:hover {
  transform: scale(1.04);
}
#my-work div#work-container .work:hover .text-hover {
  opacity: 1;
}
#my-work div#work-container .work:hover img {
  opacity: 0.15;
}
#my-work img {
  width: 100%;
  margin: auto;
  transition: opacity 0.5s ease-in-out;
  display: block;
  border-radius: 6px;
}
#my-work p {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 700;
  padding: 50px 0 50px 0;
}
#my-work p#more {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #0E0B53;
  padding: 50px 0 50px 0;
  cursor: pointer;
}
#my-work .hidden-work {
  display: none;
}

strong {
  font-weight: 700;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 55px;
  font-weight: 600;
  text-align: center;
  color: #FF8800;
  padding-top: 100px;
  padding-bottom: 100px;
}

@media all and (max-width: 980px) {
  #my-work div#work-container {
    grid-template-columns: repeat(2, auto);
    width: 92%;
    margin: auto;
  }
  #my-work div#work-container .work:hover {
    transform: scale(1);
  }
  #my-work div#work-container .work:hover .text-hover {
    opacity: 0;
  }
  #my-work div#work-container .work:hover img {
    opacity: 1;
  }
}
@media all and (max-width: 768px) {
  #my-work p {
    padding: 30px 0 30px 0;
  }
}
@media all and (max-width: 480px) {
  br {
    display: block;
    /* makes it have a width */
    content: "";
    /* clears default height */
    margin-top: 10px;
  }

  #my-work div#work-container {
    grid-template-columns: repeat(1, auto);
    width: 90%;
  }

  #my-work div#work-container div.work .text-hover .name {
    top: 0%;
  }

  #my-work div#work-container div.work .text-hover .description2 {
    font-size: 17px;
  }
}
@media all and (max-width: 320px) {
  #my-work div#work-container {
    width: 98%;
  }

  #my-work div#work-container div.work .text-hover .name {
    font-size: 22px;
    top: -10px;
  }

  #my-work div#work-container div.work .text-hover .description {
    top: 18%;
    font-size: 27px;
  }

  #my-work div#work-container div.work .text-hover .description2 {
    font-size: 16px;
    top: 34%;
  }
}
#about {
  height: 100vh;
  background-image: url("../images/about-background.png");
  background-size: cover;
}
#about p {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  font-weight: 500;
  color: #0E0B53;
  width: 47%;
  margin-bottom: 8%;
}
#about p:nth-child(2) {
  margin-left: 40%;
}
#about p:nth-child(3) {
  margin-left: 50%;
}
#about p:nth-child(4) {
  margin-left: 60%;
  margin-bottom: 0%;
}
#about h2 {
  margin-right: 175px;
}

@media all and (max-width: 1400px) {
  #about {
    max-height: 700px;
  }
  #about p {
    font-size: 21px;
  }
  #about p:nth-child(2) {
    margin-left: 45%;
  }
  #about p:nth-child(3) {
    margin-left: 55%;
  }
  #about p:nth-child(4) {
    margin-left: 65%;
    margin-bottom: 0%;
  }
}
@media all and (max-width: 1170px) {
  #about {
    background-position: -130px 0px;
  }
  #about h2 {
    margin-right: 0;
    padding-bottom: 80px;
  }
  #about p {
    font-size: 19px;
    margin-bottom: 8%;
  }
  #about p:nth-child(2) {
    margin-left: 42%;
  }
  #about p:nth-child(3) {
    margin-left: 52%;
  }
  #about p:nth-child(4) {
    margin-left: 62%;
    margin-bottom: 0%;
  }
}
@media all and (max-width: 980px) {
  #about {
    max-height: none;
    background-image: none;
    height: auto !important;
    padding-bottom: 15vh;
  }
  #about h2 {
    margin-right: 0;
    padding-bottom: 80px;
  }
  #about p {
    font-size: 19px;
    margin-bottom: 8%;
    width: 90%;
    text-align: center;
  }
  #about p:nth-child(2) {
    margin-left: auto;
    margin-right: auto;
  }
  #about p:nth-child(3) {
    margin-left: auto;
    margin-right: auto;
  }
  #about p:nth-child(4) {
    margin-left: auto;
    margin-right: auto;
  }
}
@media all and (max-width: 768px) {
  #about {
    padding-bottom: 10vh;
  }
  #about p {
    width: 90%;
    text-align: center;
  }
  #about p:nth-child(2) {
    margin-left: auto;
    margin-right: auto;
  }
  #about p:nth-child(3) {
    margin-left: auto;
    margin-right: auto;
  }
  #about p:nth-child(4) {
    margin-left: auto;
    margin-right: auto;
  }
}
@media all and (max-width: 480px) {
  #about p {
    width: 90%;
    margin-bottom: 15%;
    line-height: 1.3;
  }
}
@media all and (max-width: 320px) {
  #about p {
    margin-bottom: 22%;
  }
}
#cv {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  opacity: 0;
  transition-duration: 0.5s;
  background: #f2f2f2;
  padding-top: 50px;
  padding-bottom: 50px;
  overflow-x: hidden;
}
#cv div a {
  transform: translateX(100%);
  transition-duration: 0.5s;
  width: 320px;
  height: 60px;
  border: 3px solid #FF8800;
  border-radius: 5px;
  display: flex;
  margin: auto;
  transition: 0.5s;
  padding-left: 13px;
}
#cv div a p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 23px;
  color: #FF8800;
  text-align: center;
  margin: auto;
}

#cv div a:hover {
  padding-right: 8px;
  -webkit-animation: pulsate-fwd 0.5s ease-in-out infinite both;
  animation: pulsate-fwd 0.5s ease-in-out infinite both;
}
#cv div a:hover p {
  -webkit-animation: orange-change 0.5s ease-in-out infinite both;
  animation: orange-change 0.5s ease-in-out infinite both;
}

#cv div a p:after {
  content: "  »";
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 23px;
  color: #FF8800;
  text-align: center;
  margin: auto;
  opacity: 0;
  transition: 0.5s;
}

#cv div a:hover p:after {
  opacity: 1;
  -webkit-animation: text-opacity 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-opacity 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@media all and (max-width: 980px) {
  #cv {
    background: #f2f2f2;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  #cv div a {
    width: 260px;
    height: 50px;
  }
  #cv div a p {
    font-size: 19px;
  }
}
@media all and (max-width: 480px) {
  #cv {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  #cv div a {
    width: 200px;
    height: 40px;
  }
  #cv div a p {
    font-size: 15px;
    padding-bottom: 2px;
  }

  #cv div a {
    border: 2px solid #FF8800;
  }
}
.bg-grey {
  background-color: #F9F9F9;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}

#my-skills {
  max-width: 1343px;
  margin: auto;
  transform: scale(0.8);
}
#my-skills h2 {
  padding-top: 0;
  font-size: 63px !important;
}
#my-skills #container-skills {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
#my-skills #dev-web-container, #my-skills #design-container {
  width: 48%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 2px 5px 20px rgba(14, 11, 83, 0.15);
  transition: transform 0.5s ease-in-out;
}
#my-skills #dev-web-container img, #my-skills #design-container img {
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  padding-bottom: 40px;
  width: 87px;
}
#my-skills #dev-web-container h3, #my-skills #design-container h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 35px;
  font-weight: 700;
  color: #0E0B53;
  text-align: center;
  border-bottom: 2px solid #0E0B53;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px;
}
#my-skills #dev-web-container div, #my-skills #design-container div {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
#my-skills #dev-web-container div h4, #my-skills #design-container div h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 31px;
  font-weight: 500;
  color: #0E0B53;
  padding-top: 55px;
  padding-bottom: 35px;
}
#my-skills #dev-web-container div .span-bar, #my-skills #design-container div .span-bar {
  position: relative;
  width: 100%;
}
#my-skills #dev-web-container div .span-bar *, #my-skills #design-container div .span-bar * {
  position: absolute;
}
#my-skills #dev-web-container div span.barre, #my-skills #design-container div span.barre {
  border: 4px solid #FFE4C5;
  width: 100%;
}
#my-skills #dev-web-container div span.fill1, #my-skills #design-container div span.fill1 {
  border: 4px solid #FF8800;
  width: 80%;
}
#my-skills #dev-web-container div span.fill2, #my-skills #design-container div span.fill2 {
  border: 4px solid #FF8800;
  width: 35%;
}
#my-skills #dev-web-container div span.fill3, #my-skills #design-container div span.fill3 {
  border: 4px solid #FF8800;
  width: 75%;
}
#my-skills #dev-web-container div span.fill4, #my-skills #design-container div span.fill4 {
  border: 4px solid #FF8800;
  width: 45%;
}
#my-skills #dev-web-container div span.fill5, #my-skills #design-container div span.fill5 {
  border: 4px solid #FF8800;
  width: 35%;
}
#my-skills #dev-web-container p, #my-skills #design-container p {
  text-align: center;
  color: #0E0B53;
  font-family: "Montserrat", sans-serif;
  font-size: 23px;
  font-weight: 500;
}
#my-skills #dev-web-container p:first-of-type, #my-skills #design-container p:first-of-type {
  padding-top: 55px;
  padding-bottom: 16px;
}
#my-skills #dev-web-container p:last-of-type, #my-skills #design-container p:last-of-type {
  padding-bottom: 72px;
  font-weight: 600;
}
#my-skills #container-tools {
  transition: transform 0.5s ease-in-out;
  margin-top: 30px;
  border-radius: 10px;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 5px 20px rgba(14, 11, 83, 0.15);
}
#my-skills #container-tools div#tools {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 85px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 70px;
  padding-bottom: 70px;
}
#my-skills #container-tools div#tools * {
  max-height: 100%;
  max-width: 100%;
  margin: auto;
}
#my-skills #container-tools h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: #0E0B53;
  text-align: center;
  border-bottom: 2px solid #0E0B53;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px;
  padding-top: 60px;
}

@media all and (max-width: 980px) {
  #my-skills #container-tools div#tools {
    grid-gap: 60px;
  }

  #my-skills {
    transform: scale(0.9);
  }
  #my-skills h2 {
    font-size: 54px !important;
  }

  #my-skills #dev-web-container img, #my-skills #design-container img {
    width: 17%;
  }

  #my-skills #dev-web-container h3, #my-skills #design-container h3 {
    font-size: 30px;
    width: 70%;
  }

  #my-skills #container-tools h3 {
    font-size: 26px;
    width: 70%;
  }

  #my-skills #dev-web-container div h4, #my-skills #design-container div h4 {
    font-size: 23px;
    padding-top: 45px;
    padding-bottom: 30px;
  }

  #my-skills #dev-web-container p, #my-skills #design-container p {
    font-size: 19px;
  }
}
@media all and (max-width: 768px) {
  #my-skills #container-tools div#tools {
    grid-template-columns: repeat(4, auto);
    grid-gap: 50px;
  }

  #my-skills #dev-web-container div span.barre, #my-skills #design-container div span.barre {
    border: 3px solid #FFE4C5;
  }

  #my-skills #dev-web-container div span.fill1, #my-skills #design-container div span.fill1 {
    border: 3px solid #FF8800;
  }

  #my-skills #dev-web-container div span.fill2, #my-skills #design-container div span.fill2 {
    border: 3px solid #FF8800;
  }

  #my-skills #dev-web-container div span.fill3, #my-skills #design-container div span.fill3 {
    border: 3px solid #FF8800;
  }

  #my-skills #dev-web-container div span.fill4, #my-skills #design-container div span.fill4 {
    border: 3px solid #FF8800;
  }

  #my-skills #dev-web-container div span.fill5, #my-skills #design-container div span.fill5 {
    border: 3px solid #FF8800;
  }

  #my-skills {
    transform: scale(0.95);
  }

  #my-skills h2 {
    padding-top: 70px;
  }

  #my-skills #dev-web-container div h4, #my-skills #design-container div h4 {
    font-size: 19px;
    padding-top: 35px;
    padding-bottom: 20px;
  }

  #my-skills #dev-web-container p, #my-skills #design-container p {
    font-size: 16px;
  }

  #my-skills #dev-web-container h3, #my-skills #design-container h3 {
    font-size: 24px;
  }

  #my-skills #container-tools h3 {
    font-size: 22px;
  }

  #my-skills h2 {
    font-size: 38px !important;
  }
}
@media all and (max-width: 480px) {
  #my-skills #container-tools div#tools {
    grid-template-columns: repeat(3, auto);
    grid-gap: 3em;
  }

  #my-skills #container-skills {
    display: block;
  }

  #my-skills #dev-web-container, #my-skills #design-container {
    width: 100%;
  }

  #my-skills {
    transform: scale(1);
  }

  #my-skills h2 {
    font-size: 33px !important;
    padding-top: 100px;
  }

  #dev-web-container {
    margin-bottom: 30px;
  }

  #my-skills #design-container {
    padding-bottom: 70px;
  }

  #my-skills #dev-web-container div h4, #my-skills #design-container div h4 {
    font-size: 21px;
  }

  #my-skills #dev-web-container p, #my-skills #design-container p {
    font-size: 17px;
  }
}
@media all and (max-width: 320px) {
  #my-skills #container-tools div#tools {
    grid-gap: 2em;
  }
}
footer {
  margin-bottom: 40px;
  position: relative;
  background-image: url("../images/footer-background.png");
  background-size: 100% 100%;
}
footer h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 55px;
  font-weight: 600;
  text-align: center;
  color: #FF8800;
  padding-top: 100px;
  padding-bottom: 60px;
}
footer p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #0E0B53;
  text-align: center;
}
footer #email {
  font-size: 40px;
  padding-top: 80px;
  padding-bottom: 60px;
}
footer #phone-nb {
  font-size: 45px;
  margin-bottom: 60px;
}
footer #phone-nb a {
  color: #0E0B53;
}
footer div#info-contact {
  background-color: #F9F9F9;
  width: 68%;
  margin: auto;
  transform: scale(0.9);
  padding-bottom: 80px;
  margin-bottom: 120px;
  border-radius: 8px;
  box-shadow: 2px 5px 20px rgba(14, 11, 83, 0.15);
  transition: transform 0.5s ease-in-out;
}
footer div#info-contact:hover {
  transform: scale(0.94);
}
footer #btn-mail-me {
  width: 248px;
  height: 65px;
  border: 3px solid #FF8800;
  border-radius: 5px;
  display: flex;
  margin: auto;
  transform: scale(0.9);
  transition: 0.5s;
  padding-left: 13px;
}
footer #btn-mail-me p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 26px;
  color: #FF8800;
  text-align: center;
  margin: auto;
}
footer #btn-mail-me:hover {
  padding-right: 5px;
  -webkit-animation: pulsate-fwd 0.5s ease-in-out infinite both;
  animation: pulsate-fwd 0.5s ease-in-out infinite both;
}
footer #btn-mail-me:hover p {
  -webkit-animation: orange-change 0.5s ease-in-out infinite both;
  animation: orange-change 0.5s ease-in-out infinite both;
}
footer #btn-mail-me p:after {
  content: " »";
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 26px;
  color: #FF8800;
  text-align: center;
  margin: auto;
  opacity: 0;
  transition: 0.5s;
}
footer #btn-mail-me:hover p:after {
  opacity: 1;
  -webkit-animation: text-opacity 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-opacity 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
footer #div-logo {
  display: flex;
}
footer #logo2 {
  width: 68px;
  height: 54px;
  margin-left: auto;
  transform: translateY(-70%);
}
footer #phrase-accroche {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 40px;
  text-align: center;
  color: #0E0B53;
  padding-bottom: 120px;
}
footer span {
  border: 2px solid #0E0B53;
  width: 1920px;
  height: 1336px;
  transform: rotate(50deg);
}

#smiley1, #smiley2 {
  position: absolute;
  top: 43%;
  left: 15%;
  width: 43px;
}

#smiley2 {
  opacity: 0;
}

@media all and (max-width: 1170px) {
  footer #email {
    font-size: 32px;
  }
  footer #phone-nb {
    font-size: 35px;
  }

  footer #phrase-accroche {
    font-size: 30px;
  }
}
@media all and (max-width: 980px) {
  footer div#info-contact {
    background-color: #F9F9F9;
    width: 75%;
    padding-bottom: 80px;
  }

  footer #email {
    font-size: 28px;
  }

  footer #phone-nb {
    font-size: 31px;
    margin-bottom: 50px;
  }

  footer #btn-mail-me {
    width: 139px;
    height: 51px;
  }

  footer #btn-mail-me p {
    font-size: 22px;
  }

  footer #phrase-accroche {
    font-size: 32px;
    padding-bottom: 100px;
  }

  footer #logo2 {
    width: 54px;
    height: 43px;
  }

  footer p {
    font-size: 13px;
  }

  #smiley1, #smiley2 {
    display: none;
  }
}
@media all and (max-width: 768px) {
  footer div#info-contact {
    width: 100%;
  }
}
@media all and (max-width: 480px) {
  footer {
    background-image: none;
  }

  footer #email {
    font-size: 18px;
    padding-top: 55px;
    padding-bottom: 50px;
  }

  footer #phone-nb {
    font-size: 22px;
    margin-bottom: 40px;
  }

  footer div#info-contact {
    width: 100%;
    transform: scale(1);
    padding-bottom: 55px;
  }

  footer div#info-contact:hover {
    transform: scale(1);
  }

  footer #btn-mail-me p {
    font-size: 18px;
    padding-bottom: 2px;
  }

  footer #phrase-accroche {
    font-size: 24px;
  }

  footer div#info-contact {
    margin-bottom: 90px;
  }

  footer #logo2 {
    width: 32px;
    height: 26px;
  }

  footer #btn-mail-me {
    width: 119px;
    height: 42px;
  }

  footer #btn-mail-me {
    border: 2px solid #FF8800;
  }
}
@media all and (max-width: 320px) {
  footer #phrase-accroche {
    font-size: 20px;
  }

  footer #email {
    font-size: 16px;
  }

  footer #phone-nb {
    font-size: 19px;
  }

  footer #btn-mail-me p {
    font-size: 16px;
  }

  footer #btn-mail-me {
    height: 35px;
  }
}
@-webkit-keyframes text-opacity {
  0% {
    -webkit-filter: opacity(0%);
    filter: opacity(0%);
  }
  100% {
    -webkit-filter: opacity(100%);
    filter: opacity(100%);
  }
}
@keyframes text-opacity {
  0% {
    -webkit-filter: opacity(0%);
    filter: opacity(0%);
  }
  100% {
    -webkit-filter: opacity(100%);
    filter: opacity(100%);
  }
}
.text-opacity {
  -webkit-animation: text-opacity 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-opacity 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes text-opacity-out {
  0% {
    -webkit-filter: opacity(100%);
    filter: opacity(100%);
  }
  100% {
    -webkit-filter: opacity(0%);
    filter: opacity(0%);
  }
}
@keyframes text-opacity-out {
  0% {
    -webkit-filter: opacity(100%);
    filter: opacity(100%);
  }
  100% {
    -webkit-filter: opacity(0%);
    filter: opacity(0%);
  }
}
.text-opacity-out {
  -webkit-animation: text-opacity-out 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-opacity-out 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.focus-in-expand {
  -webkit-animation: focus-in-expand 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: focus-in-expand 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes focus-in-expand {
  0% {
    letter-spacing: -0.15em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes focus-in-expand {
  0% {
    letter-spacing: -0.15em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

/*# sourceMappingURL=index.css.map */
